{% import 'user-register/macro/form.twig' as form %}
{% extends "layout/layout.twig" %}
{% block title %}顧客更新{% endblock %}

{% block container %}
<h2 class="title">顧客更新</h2>
{{ include('user-register/macro/input-form.twig', { 'page': 'update' }) }}
{% endblock %}

