{% extends "layout/layout.twig" %}
{% block title %}顧客管理メニュー{% endblock %}

{% block container %}
<h2 class="title">顧客管理メニュー</h2>
<ol>
<li><a href="{{ basepath() }}/register">登録/更新/削除</a></li>
<li><a href="{{ basepath() }}/search">検索</a></li>
</ol>
{% endblock %}

