<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="./Bootstrap.php"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="UserRegisterTest">
            <directory suffix="Test.php" phpVersion="5.5">./UserRegisterTest</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="../../../result/coverage" title="Base32" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-php" target="../../../result/coverage.serialized"/>
        <log type="coverage-clover" target="../../../result/coverage/clover.xml"/>
        <log type="junit" target="../../../result/phpunit_junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">../../../module/UserRegister/src</directory>
            <exclude>
                <directory>../../../module/UserRegister/src/Controller</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APPLICATION_ENV" value="local.test"/>
        <ini name="display_errors" value="on"/>
    </php>
</phpunit>